.navbar-inverse,
.header {
    background: #901616;
}

body > .navbar li.dropdown,
.header .menuitems {
    background: #751111;
}

.menuitems:active, .menuitems:focus, .menuitems:hover {
    background: #ededed;
    color: black;
}

