
.navbar-inverse,
.header {
    background: #901616;
}

body > .navbar li.dropdown,
.header .menuitems,
.header-searchfield.closed button {
    background: #751111;
}

.menuitems:active, .menuitems:focus, .menuitems:hover {
    background: #ededed;
    color: black;
}

body > .navbar li.dropdown:nth-child(2){
    border-color:#901616;
}

.navbar-inverse .navbar-toggle{
    border-color:transparent;
}



@media screen and (min-width: 993px) {
    #navbar-content .btn-link {
        margin-left: calc(100vw - 85px);
    }
}

@media screen and (max-width: 992px) {
    
    #navbar-content > .container-fluid{
        margin-right: -15px;
        margin-left: -15px;
    }
    
    #navbar-content > .container-fluid > .hidden-lg.hidden-md{
        background-color: #880c0c !important;
    }
    
    
    #navbar-content .navbar-header .nav {
        margin-right: 27px !important;
        margin-left: auto;
        float: right;   
        width: 100px;
    }
    
     .open > .dropdown-menu {
        right: 0;
        left: auto;
        top: 41px;
    }
    
    #navbar-content.affix-top{
        left: -15px;
        right: -15px;
        width: calc(100% + 30px);
        border:none;
        box-sizing: border-box;
        padding-left: 15px;
        top: -96px;
    }
    
    .navbar-default .navbar-nav > li > a,
    .navbar-default .navbar-nav > .active > a, 
    .navbar-default .navbar-nav > .active > a:hover, 
    .navbar-default .navbar-nav > .active > a:focus,
    #navbar-content .btn-link,
    #navbar-content > .container-fluid > .hidden-lg.hidden-md
    {
        color:white;
    }
    
     #main-content{
        margin-top: -53px;
    }
    
     nav.navbar{
        margin-bottom: 53px;
    }
    
    #navbar-content .btn-link{
        width: 100%;
        display: block;
    }
    
    #navbar-content .btn-link:hover{
        cursor: pointer;
        background:white;
        color:black;
    }
    
    #navbar-content .glyphicon-menu-hamburger::before {
        content: "Om Rødlista";
        font-family: "Roboto condensed";        
        font-size: 15px;
        text-decoration: underline;
    } 
    
}


@media only screen and (max-width: 765px) {   
    .header-searchfield.closed button {
        background: transparent;
    }
}

@media screen and (max-width: 283px) {
    #navbar-content.affix-top {
        margin-top: -29.5px;
    }
}
