.navbar-inverse,
.header {
    background: #901616;
}

body > .navbar li.dropdown,
.header .menuitems {
    background: #751111;
}

.menuitems:active, .menuitems:focus, .menuitems:hover {
    background: #ededed;
    color: black;
}

body > .navbar li.dropdown:nth-child(2){
    color:transparent;
    border-color:transparent;
}

.navbar-inverse .navbar-toggle{
    border-color:transparent;
}

nav.navbar{
    margin-bottom: 53px;
}

#navbar-content.affix-top{
    background: #890d0d !important;
    top: -96px;
    border-color: transparent;
    left: -15px;
    right: -15px;
    max-width: 100vw;
    box-sizing: border-box;
    width: 100vw;
    padding-left: 15px;
}

#navbar-content > .container-fluid{
    margin-right: -15px;
    margin-left: -15px;
}

#navbar-content > .container-fluid > .hidden-lg.hidden-md{
    background-color: #880c0c !important;
    color:white;
}

#navbar-content .btn-link {
    background:transparent;
    margin:0;
    margin-left: calc(100vw - 62px);    
}


#navbar-content .btn-link .glyphicon{
    content:"Om rødlista";
    color:white;
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    font-family: "Roboto condensed";
}


.navbar-default .navbar-toggle {
   display:none;
}