<header class="adb-header">
    <a href="https://artsdatabanken.no" class="adb-header-logo">
        <img alt="Artsdatabanken-logo" src="https://design.artsdatabanken.no/icons/adb-logo/Artsdatabanken_Logo-CMYK-H-Colour@2x.png">
    </a>
    <div class="header-right-side">
        <div id="adb_header_search" class="adb-header-search closed">
            <form action="https://artsdatabanken.no/search/front">
                <input name="q" type="text" placeholder="Søk her" />
                <input style="display: none" name="all" value="1"/>
                <button type="submit">
                    Søk
                </button>
            </form>
        </div>
        <div class="adb-header-search-mobile">
            <button id="adb_header_search_mobile" class="open-search-button" onclick="toggleSearch()">
                <span class="material-symbols-outlined">
                    search
                </span>
                <span class="hide-mobile">Søk</span>
            </button>
        </div>
        <nav class="header-menu-line" id="adb-headermenu"></nav>
    </div>
</header>