<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ikoner</title>
    <link
      href="https://design.artsdatabanken.no/style/style-reset.css"
      rel="stylesheet"
    />
    <link
      href="https://design.artsdatabanken.no/style/layout.css"
      rel="stylesheet"
    />
    <link
      href="https://design.artsdatabanken.no/style/header-footer.css"
      rel="stylesheet"
    />
    <script src="https://design.artsdatabanken.no/script/header.js"></script>
    <script src="https://design.artsdatabanken.no/script/footer.js"></script>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

  </head>
  <body>
    <header class="header">
      <div class="width-adjuster">
        <a href="https://artsdatabanken.no" class="header-logo">
          <img
            alt="Artsdatabanken"
            src="https://artsdatabanken.no/Files/20973"
            class="normal"
          />
          <img
            alt="Artsdatabanken"
            src="https://artsdatabanken.no/Files/20978"
            class="mobile"
          />
        </a>
        <button id="navbar-mobile" class="material-icons">menu</button>
        <nav id="headermenu" class="hide"></nav>
      </div>
    </header>
    <div class="main">
      <div class="main-content width-adjuster">
        <div class="breadcrumbs">
          <ul>
            <li class="lead in-breadcrumb">
              <a href="/">
                Template
                <!-- Top level breadcrumb-->
              </a>
            </li>
            <span>
              > 
              <!-- Add more breadcrumbs -->
            </span>
            <a href="/icons">
              Ikoner
              <!-- Top level breadcrumb-->
            </a>
          </ul>
        </div>
        <div class="sidebarmenu">
          <!-- ADD SIDEBAR ELEMENTS HERE IF WANTED -->
        </div>

        <div class="content-placer">
          <div class="page-header">
            <h1>Ikoner <!-- ADD Page title --></h1>
            <h2>Revidering pågås fra 2022</h2>
            <span class="byline">
              Påstartet 2022
              <!-- Change this element -->
            </span>
          </div>

          <div class="mid">
            <div class="ingress">
              <p>
                <!-- Change this element -->
                Last opp ikoner og hvordan de er brukt i forskjellige løsninger
              </p>
              
            </div>

            
            
       
      </div>
      <table>
        <tr>
          <th>Ikon</th>
          <th>Ikon-navn</th>
          <th>Bibliotek</th>
          <th>Applikasjon</th>
          <th>Brukes til</th>
        </tr>
        <tr>
          <td><span class="material-icons">map</span></td>
          <td>Map</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Endre bakgrunnskart</td>
        </tr>
        <tr>
          <td><span class="material-icons">location_searching</span></td>
          <td>location_searching</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Geolokalisering</td>
        </tr>
        <tr>
          <td><span class="material-icons">where_to_vote</span></td>
          <td>where_to_vote</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Velg markør</td>
        </tr>
        <tr>
          <td><span class="material-icons">close</span></td>
          <td>close</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Lukk</td>
        </tr>
        <tr>
          <td><span class="material-icons">save</span></td>
          <td>save</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Lagre</td>
        </tr>
        <tr>
          <td><span class="material-icons">edit</span></td>
          <td>edit</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Rediger</td>
        </tr>
        <tr>
          <td><span class="material-icons">delete</span></td>
          <td>delete</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Slett</td>
        </tr>
        <tr>
          <td><span class="material-icons">cancel</span></td>
          <td>cancel</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Avslå</td>
        </tr>
        <tr>
          <td><span class="material-icons">keyboard_backspace</span></td>
          <td>keyboard_backspace</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Tilbake til forrige fane</td>
        </tr>
        <tr>
          <td><span class="material-icons">place</span></td>
          <td>place</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Koordinater</td>
        </tr>
        <tr>
          <td><span class="material-icons">home</span></td>
          <td>home</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Adresse</td>
        </tr>
        <tr>
          <td><span class="material-icons">flag</span></td>
          <td>flag</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Kommune</td>
        </tr>
        <tr>
          <td><span class="material-icons">terrain</span></td>
          <td>terrain</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Fyllke</td>
        </tr>
        <tr>
          <td><span class="material-icons">open_in_new</span></td>
          <td>open_in_new</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Åpne eksternt vindu</td>
        </tr>
        <tr>
          <td><span class="material-icons">my_location</span></td>
          <td>my_location</td>
          <td>Material Icons</td>
          <td>ØkGk</td>
          <td>Sted-fane</td>
        </tr>
      </table>  

      <!--Close, Save, Edit, Delete, Cancel-->
    </div>
    </div>
    <footer id="footer"></footer>
  </body>
</html>
